.v-card.padding {
  padding: 20px;
}

.tc {
  text-align: center;
}

ul, ol {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.normal {
  font-weight: normal;
}

/* Overrides of Vuetify */

@media only screen and (min-width: 1264px) {
  .container {
    max-width: 1020px;
  }
}
